/*common*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { font-size: 12px; font-weight: normal; }

b { font-weight: normal; }

body { font-size: 12px; font-family: Arial,'Microsoft YaHei'; color: #333; position: relative; font: 12px/1.6 tahoma,arial,sans-serif; background: #f4f4f4; }

ul, li { list-style: none; }

img { border: none; vertical-align: bottom; }

a { text-decoration: none; color: #333; }

input { resize: none; outline: none; font-family: Arial; word-wrap: break-word; }

label, th { font-weight: normal; }

.all, .header { width: 100%; }

.fl { float: left; }

.fr { float: right; }

/*header*/
.header-info { margin-bottom: 0; background: #f2f2f2; border-bottom: 1px solid #ddd; height: 31px; background: white; }

.container-in { width: 1200px; margin-left: auto; margin-right: auto; }

.home { background: url(../img/list/home.png) no-repeat 0 -6px; padding: 0 20px; display: inline-block; height: 30px; line-height: 30px; vertical-align: top; margin-left: 20px; color: #333; float: left; }

.header-ul { float: right; }

.header-ul li { float: left; display: inline; position: relative; z-index: 100; margin: 0 15px 0 0; height: 31px; }

.header-ul li a { float: left; overflow: hidden; margin-top: 8px; color: #666; line-height: 14px; }

.header-ul .padding a { float: left; overflow: hidden; margin-top: 8px; color: #333; line-height: 17px; border-left: 1px solid #ddd; padding-left: 38px; }

.header-ul .register a, .header-ul .login a { line-height: 17px; }

.header-ul .drop { position: relative; }

.header-ul .drop:hover .down { display: block; }

.header-ul .drop .down { position: absolute; top: 30px; z-index: 999; background-color: #F8F8F8; padding: 8px 0; border: 1px solid #eee; line-height: 20px; display: none; margin-left: -4px; }

.header-ul li a em { display: inline-block; height: 16px; vertical-align: sub; margin-right: 7px; background: url(../img/list/topBar-bg.png) no-repeat; width: 6px; margin-left: 10px; background-position: -180px 0; }

.header-ul .drop .down li { width: 100%; }

.header-ul .drop .down li a { float: none; display: block; height: 28px; line-height: 28px; padding: 0 20px; margin: 0; overflow: hidden; color: #444; }

.order, .cart { background: url(../img/list/header-info.png) no-repeat; background-position: 20px -212px; }

.cart { background-position: 12px -104px; }

.header-ul .drop a, .header-ul .sjht a { padding-left: 15px; }

.header-ul .drop, .header-ul .register, .header-ul .login { padding-right: 0; }

.header-process { width: 100%; height: 72px; border-bottom: 1px solid #ddd; }

.process-in { margin: 0 auto; width: 1200px; }

.logo { float: left; width: 225px; margin-top: 14px; height: 52px; background: url(../img/cart/logo.png) no-repeat; }

.process-bar { float: right; width: 494px; }

.process-bar img { padding-top: 10px; }

.article { width: 100%; }

.shop-container { width: 1200px; margin: 0 auto; }

.cart-title { padding: 20px 0; overflow: hidden; }

.cart-title ul li { float: left; }

.cart-title ul li .cur { padding: 0 10px; border: 1px solid #333; background: #333; color: #fff; }

.cart-title ul li a { font: normal 14px/28px helvetica,tahoma,arial,sans-serif; display: block; padding: 1px 11px; color: #333; border-radius: 3px; }

.cart-shop { background: #fff; padding: 20px 26px; }

.cart_table { width: 100%; }

.cart_table .cart_table_check_wrap { width: 56px; }

.cart_table .tr_checkmr { margin-right: 5px; }

.cart_table td.vm { vertical-align: middle; }

.cart_table td { padding: 16px 0; line-height: 24px; vertical-align: top; }

.cart_table td, .cart_table th { border-bottom: 1px solid #efefef; }

.cart_table .cart_table_goods_wrap { padding: 16px 10px; width: 280px; }

.cart_goods_img { float: left; position: relative; height: 80px; }

.cart_goods_t { display: block; margin: 0 20px 0 90px; line-height: 20px; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: 80px; }

.remind_btm { text-align: left; }

.cart_alcenter { text-align: center; }

.cart_lh20 { line-height: 20px; }

.cart_table td { padding: 16px 0; line-height: 24px; vertical-align: top; }

.cart_num { position: relative; width: 97px; height: 27px; margin: 0 auto 4px; }

.cart_num_input { position: absolute; border: 0; width: 43px; height: 12px; line-height: 12px; padding: 6px 0 7px; border: 1px solid #ddd; background: #fff; top: 0; left: 26px; text-align: center; color: #333; }

.cart_num_add, .cart_num_reduce { position: absolute; cursor: pointer; width: 27px; height: 27px; top: 0; }

.cart_num_add { right: 0; background: url(../img/cart/cart.png) 0 -140px no-repeat; }

.cart_num .disable { opacity: .5; filter: alpha(opacity=50); cursor: not-allowed; }

.cart_num_reduce { left: 0; background: url(../img/cart/cart.png) 0 -180px no-repeat; }

.cart_deep_red { color: #f13e3a; }

.userBox { min-width: 100px; }

.header-ul .drop.userBox { position: relative; }

.header-ul .drop:hover .down, .header-ul .userBox:hover .down { display: block; }

.header-ul .drop .down, .header-ul .userBox .down { position: absolute; top: 30px; z-index: 999; background-color: white; padding: 8px 0; border: 1px solid #eee; line-height: 20px; display: none; margin-left: -4px; }

.header-ul .drop .down li, .header-ul .userBox .down li { width: 100%; }

.header-ul .drop .down li a, .header-ul .userBox .down li a { width: 90%; border: 0; padding-left: 10%; text-align: left; display: block; }

.header-ul .drop .down li:hover, .header-ul .userBox .down li:hover { background: #F5F5F5; }

.header-ul .userBox { display: none; }

.media_screen_1200 .wrap { width: 1200px; margin-left: auto; margin-right: auto; }

.cart_paybar { position: relative; height: 50px; background: #fff; border-top: 1px solid #ddd; line-height: 50px; clear: both; }

.cart_paybtn.cart_paybtn_disable, .cart_surebtn { display: block; width: 152px; height: 51px; margin-top: -1px; font: 0/0 a; overflow: hidden; }

.cart_paybtn.cart_paybtn_disable { background: #d8d8d8 url(../img/cart/pay.png) 0 -800px no-repeat; }

.cart_paybtn { display: block; width: 152px; height: 50px; background: #f13e3a url(../img/cart/pay-hover.png) 0 -216px no-repeat; font: 0/0 a; overflow: hidden; }

.fr { float: right; }

.cart_paybar_info_cost { position: relative; padding: 0 12px 0 8px; display: inline-block; }

.cart_deep_red { color: #f13e3a; }

.cart_bold { font-weight: 700; }

.cart_font26 { font-size: 26px; }

.cart_pregray { color: #666 !important; }

.cart_deep_red { color: #f13e3a; }

.cart_paybar_vmbox { position: relative; padding-left: 58px; width: 300px; }

.cart_paybar_vmbox .s_all_slave { position: absolute; left: 36px; top: 50%; margin-top: -6px; }

.cart_vm { vertical-align: middle; }

input, textarea { margin: 0; padding: 0; outline: none; }

.mr10 { margin-right: 10px !important; }

.cart_thcheck { display: block; margin-left: 10px; }

.footer { padding: 40px 0; text-align: center; color: #666; }

.footer .icons { padding-top: 16px; height: 28px; text-align: center; }

.footer .icons .vs { width: 80px; background: url(../img/cart/footer.png) 0 -50px no-repeat; cursor: default; }

.footer .icons .mc { width: 74px; background: url(../img/cart/footer.png) -90px -50px no-repeat; cursor: default; }

.footer .icons .up { width: 50px; background: url(../img/cart/footer.png) -178px -50px no-repeat; cursor: default; }

.footer .icons .pa { width: 164px; vertical-align: top; background: url(../img/cart/footer.png) -240px -50px no-repeat; }

.footer .icons .kx { width: 84px; background: url(../img/cart/footer.png) -400px -50px no-repeat; }

.footer .icons .pc { width: 50px; background: url(../img/cart/footer.png) -486px -50px no-repeat; }

.footer .icons .kx, .footer .icons .mc, .footer .icons .pa, .footer .icons .pc, .footer .icons .up, .footer .icons .vs { display: inline-block; height: 28px; vertical-align: top; }

/*# sourceMappingURL=cart.css.map */