<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<link href="../img/titleImg/titleImg.png" rel="SHORTCUT ICON" id="title-pic"/> 
		<title>美裙_时尚起义官网直邮</title>
		<link rel="stylesheet" type="text/css" href="../css/detaile.css"/>
		<script src="../js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/list-test.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/shopDetail.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="all" ng-controller="shop">
			<div class="header">
				<div class="header-info">
					<div class="container-in">
						<a href="http://www.meilishuo.com" rel="nofollow" class="home">美丽说首页</a>
						<ul class="header-ul">
							<li class="register"><a href="register.html">注册</a></li>
							<li class="login"><a href="login.html">登录</a></li>
							<li class="dorp userBox">
        						<a href="javascript:;"><span id="userName"></span><em class="arrow"></em></a>
	        					<ul class="down">
	        						<li><a href="javascript:;">账号与安全</a></li>
	        						<li><a href="javascript:;" id="exit">退出</a></li>
	        					</ul>
	        				</li>
							<li class="order padding"><a href="order.html">我的订单</a></li>
							<li class="cart padding"><a href="cart.html">购物车</a></li>
							<li class="drop padding">
								<a href="javascript:;"><span>帮助中心</span><em class="arrow"></em></a>
	        					<ul class="down">
	        						<li><a href="javascript:;">买家服务</a></li>
	        						<li><a href="javascript:;">商家服务</a></li>
	        						<li><a href="javascript:;">规则中心</a></li>
	        					</ul>
	        				</li>
							</li>
							<li class="sjht padding"><a href="javascript:;">商家后台</a></li>			
						</ul>
					</div>
				</div>
				<div class="header-server">
					<div class="container-in">
						<div class="server-info">
							<a href="#" class="logo">
								<img src="../img/list/ssqy.jpg" alt="" />
							</a>
							<div class="shop-info">
								<div class="shop-name">
									<a href="http://s.meilishuo.com/113qxyxo" class="name fl" title="时尚起义官网直邮">时尚起义官网直邮</a>
								</div>
								<div class="shop-detail">
									<p>
			                            <span class="s-cat">
			                            	描述
			                            	<b class="low">4.21</b>
			                            </span>
			                            <span class="s-cat">
			                            	质量
			                            	<b class="low">4.41</b>
			                            </span>
			                            <span class="s-cat">
			                            	价格
			                            	<b>4.87</b>
			                            </span>
			                            <span class="s-cat">
			                            	服务
			                            	<b class="low">4.33</b>
			                            </span>
		                        	</p>
		                        	<!--下拉菜单-->
		                        	<div class="shop-select">
		                        		<div class="shop-select-in">
		                        			<div class="sLeft">
		                        				<ol class="li li3">
		                        					<li>
		                        						<span class="tag">所在地区：</span>
		                        						北京 北京
		                        					</li>
		                        					<li>
		                        						<span class="tag">商品数：</span>
		                        						468
		                        					</li>
		                        					<li>
		                        						<span class="tag">
		                        							收藏数：
		                        						</span>
		                        						1631
		                        					</li>
		                        					<li>
		                        						<span class="tag">销售量：</span>
		                        						132
		                        					</li>
		                        					<li>
		                        						<span class="tag">
		                        							创建时间：
		                        						</span>
		                        						2016年04月22日
		                        					</li>
		                        				</ol>
		                        			</div>
		                        			<ol class="li li1">
		                        				<li class="title">
		                        					动态评分
		                        				</li>
		                        				<li>
		                        					描述相符:
		                        					<span class="low">
		                        						4.21
		                        					</span>
		                        				</li>
		                        				<li>
		                        					质量满意:
		                        					<span class="low">
		                        						4.41
		                        					</span>
		                        				</li>
		                        				<li>
		                        					价格合理:
		                        					<span class="num">
		                        						4.87
		                        					</span>
		                        				</li>
		                        				<li>
		                        					服务周到:
		                        					<span class="low">
		                        						4.33
		                        					</span>
		                        				</li>
		                        			</ol>
		                        			<ol class="li li2">
		                        				<li class="title">
		                        					比同行平均
		                        				</li>
		                        				<li>
		                        					<span class="tag down">
		                        						低
		                        					</span>
		                        					<span class="num">
		                        						-11.18%
		                        					</span>
		                        				</li>
		                        				<li>
		                        					<span class="tag down">
		                        						低
		                        					</span>
		                        					<span class="num">
		                        						-6.77%
		                        					</span>
		                        				</li>
		                        				<li>
		                        					<span class="tag up">
		                        						高
		                        					</span>
		                        					<span class="num">
		                        						0.21%
		                        					</span>
		                        				</li>
		                        				<li>
		                        					<span class="tag down">
		                        						低
		                        					</span>
		                        					<span class="num">
		                        						-8.84%
		                        					</span>
		                        				</li>
		                        			</ol>
		                        			<ol class="li li4">
		                        				<li class="title">
		                        					 本店 
		                        				</li>
		                        				<li>
		                        					平均发货时间：
		                        					<span class="low">1.21</span>天
		                        				</li>
		                        			</ol>
		                        			<ol class="li li5">
		                        				<li class="title">
		                        					 行业 
		                        				</li>
		                        				<li>
		                        					0.48 天
		                        				</li>
		                        			</ol>
		                        		</div>
		                        	</div>
								</div>
							</div>
							<div class="shop-action">
								<a class="collect " rel="nofollow" href="javascript:;" data-shopid="113qxyxo">收藏</a>
								<a href="javascript:;" class="person">
                                                      <div class="person-div" data-shopid="113qxyxo" data-tid="" data-toid="858785065">联系客服</div>
                                </a>
							</div>
							<div class="show-list"></div>
                            <div class="right-border"></div>
						</div>
						<div class="search">
							<div class="search-form">
								<form action="" id="form">
									<div class="search-input">
										<input type="text" id="search-key" placeholder="输入你想要的商品..." ng-model="search" ng-keydown="showIcur()"/>
										<input type="button" class="search-all" value="搜全站"/>
										<a href="javascript:;" data-baseurl="http://s.meilishuo.com/113qxyxo" ng-click="s_inshop()" id="J_SearchInShop" class="search-inshop">搜本店</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="top-imgBox">
					<a href="#" class="top-img"></a>
				</div>
				<div class="nav">
					<ul class="nav-ul">
						<li><a href="javascript:;">首页</a></li>
						<li class="all-shop">
							<a href="javascript:;" id="allShop" ng-click="all_shop()">全部商品</a>
							<div class="ul-hidden">
								<dl>
		                            <dd>
		                                <a href="#">上衣</a>
		                            </dd>
		                            <dd>
		                                <a href="#">美裙</a>
		                            </dd>
		                            <dd>
		                                <a href="#">裤装</a>
		                            </dd>
		                            <dd>
		                                <a href="#">外套</a>
		                            </dd>
		                            <dd>
		                                <a href="#">鞋&包</a>
		                            </dd>
		                            <dd>
		                                <a href="#">男装</a>
		                            </dd>
		                            <dd>
		                                <a href="#">热销</a>
		                            </dd>
		                            <dd>
		                                <a href="#">新品</a>
		                            </dd>
		                            <dd>
		                                <a href="#">清仓</a>
		                            </dd>
		                        </dl>
							</div>
						</li>
						<li><a href="javascript:;" id="sy" ng-click="sy()">上衣</a></li>
						<li><a href="javascript:;" id="qz" ng-click="qz()">裙装</a></li>
						<li><a href="javascript:;" id="kz" ng-click="kz()">裤子</a></li>
						<li><a href="javascript:;" id="tz" ng-click="tz()">套装</a></li>
						<li><a href="javascript:;" id="yz" ng-click="yz()">泳装</a></li>
						<li><a href="javascript:;" id="mz" ng-click="mz()">美妆</a></li>
					</ul>
					
				</div>
			</div>
			<div class="article">
				<div class="container-in" id="searchContainer">
					<div class="article-nav">
						<ul id="nav_ul">
							<li><a href="" id="hot" class="current" ng-click="hot()">热门</a></li>
							<li><a href="" id="prive" ng-click="price()">价格</a></li>
							<li><a href="" id="love" ng-click="love()">销量</a></li>
						</ul>
					</div>
					<div class="waterfall" >
						<div class="waring">对不起，没有您想要的商品！请更改关键字后重新搜索...</div>
						<div class="panel" ng-if="showHot" ng-repeat="items in info | orderBy:'text'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="123" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="showPrice" ng-repeat='items in info | orderBy:"price"'>
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="showLove" ng-repeat="items in info | orderBy:'love'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" id="searchPanel" ng-if="click_search" ng-repeat="items in info | filter:search">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						

						<div class="panel" ng-if="click_sy" ng-repeat="items in info | filter:{'type':'上衣'}">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_sy_text" ng-repeat="items in info | filter:{'type':'上衣'} | orderBy:'text'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_sy_price" ng-repeat="items in info | filter:{'type':'上衣'} | orderBy : 'price'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_sy_love" ng-repeat="items in info | filter:{'type':'上衣'} | orderBy:'love'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						



						<div class="panel" ng-if="click_qz" ng-repeat="items in info | filter:{'type':'裙装'}">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_qz_text" ng-repeat="items in info | filter:{'type':'裙装'} | orderBy:'text'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_qz_price" ng-repeat="items in info | filter:{'type':'裙装'} | orderBy : 'price'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_qz_love" ng-repeat="items in info | filter:{'type':'裙装'} | orderBy:'love'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						
						
						
						<div class="panel" ng-if="click_kz" ng-repeat="items in info | filter:{'type':'裤子'}">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_kz_text" ng-repeat="items in info | filter:{'type':'裤子'} | orderBy:'text'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_kz_price" ng-repeat="items in info | filter:{'type':'裤子'} | orderBy : 'price'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_kz_love" ng-repeat="items in info | filter:{'type':'裤子'} | orderBy:'love'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						
						
						
						
						<div class="panel" ng-if="click_tz" ng-repeat="items in info | filter:{'type':'套装'}">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_tz_text" ng-repeat="items in info | filter:{'type':'套装'} | orderBy:'text'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_tz_price" ng-repeat="items in info | filter:{'type':'套装'} | orderBy : 'price'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
							<div class="panel" ng-if="click_tz_love" ng-repeat="items in info | filter:{'type':'套装'} | orderBy:'love'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						
						
						<div class="panel" ng-if="click_yz" ng-repeat="items in info | filter:{'type':'泳装'}">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_yz_text" ng-repeat="items in info | filter:{'type':'泳装'} | orderBy:'text'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_yz_price" ng-repeat="items in info | filter:{'type':'泳装'} | orderBy : 'price'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_yz_love" ng-repeat="items in info | filter:{'type':'泳装'} | orderBy:'love'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>



						<div class="panel" ng-if="click_mz" ng-repeat="items in info | filter:{'type':'美妆'}">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_mz_text" ng-repeat="items in info | filter:{'type':'美妆'} | orderBy:'text'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_mz_price" ng-repeat="items in info | filter:{'type':'美妆'} | orderBy : 'price'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						<div class="panel" ng-if="click_mz_love" ng-repeat="items in info | filter:{'type':'美妆'} | orderBy:'love'">
							<a href="{{items.href}}" class="img"  target="_blank">
								<img src="../img/list/{{items.url}}" alt="" />
							</a>
							<div class="panel-text">
								<a class="panel-title" ng-bind="items.text"></a>
								<div class="price-box">
									<b class="price" ng-bind="items.price"></b>
									<span class="love-num" ng-bind="items.love"></span>
								</div>
							</div>
						</div>
						
						
						
						
						
					</div>
				</div>
				<div class="container-in" id="detailContainer">
					<div class="detail-primary">
						<div class="primary-goods">
							<div class="goods-info">
								<div class="info-box">
									<h1 class="goods-title"><span itemprop="name"></span></h1>
									<div class="goods-money">
										<dl>
											<dt>价格</dt>
											<dd class="price-con">
												<span></span>
											</dd>
											<dd class="info-extra">
												<span class="mr10">
													评价：
													<span class="pj"></span>
												</span>
												<span>
													销量：
													<span class="xl"></span>
												</span>

											</dd>
										</dl>
									</div>
									<div class="goods-im">
										<dl>
											<dt>客服：</dt>
											<dd>
												<div class="mlstalk_widget_btn" data-shopid="113qxyxo" style="cursor:pointer" data-style="default" data-toid="858785065" data-tid="10502187672">联系客服</div>
											</dd>
										</dl>
									</div>
									<div class="goods-sku">
										<div class="goods-sku-row">
											<dl class="style clearfix">
						        				<dt>款式：</dt>
						        				<dd>
						        				    <ol class="style-list">
						        				    	
						        				    </ol>
						        				</dd>
					      					</dl>
											<dl class="size clearfix">
						        				<dt>尺码：</dt>
						        				<dd>
						        					  <ol class="J_SizeList size-list clearfix">
						        					  </ol>
						        				</dd>
						      				</dl>
						      				<dl class="clearfix">
						      					<dt>数量：</dt>
						      					<dd class="num clearfix">
			                                        <div id="J_GoodsNum" class="goods-num fl" data-stock="999">
								                        <span class="num-reduce num-disable"></span>
								                        <input class="num-input" id="num-input" value="1">
								                        <span class="num-add "></span>
							                    	</div>
		                                       	 <div class="J_GoodsStock goods-stock fl">库存999件</div>
							                	</dd>
						      				</dl>
										</div>
										<div class="goods-buy">
                                            <a href="javascript:;" id="J_BuyNow" class="fl mr10 buy-btn buy-now">立刻购买</a>
                        					<input type="hidden" value="nodapei" id="dapeiShow">
                       						 <a href="javascript:;" id="J_BuyCart" class="fl mr10 buy-cart buy-btn">加入购物车</a>
          
                                </div>
									</div>
									<div class="goods-social">
						              <div class=" fav  item" goodsid="0" tradeitemid="1glz90o" tid="0">
						              	<b></b>
						              	<span class="fav-num">7</span>
						              </div>
						              <div class="share item">
								          <b></b>分享
								          <div class="share-w">
				                             <a target="_blank" href="#" class="forqzone" title="关注QQ空间" rel="nofollow"></a>
								             <a target="_blank" href="#" class="forrenren" title="关注人人" rel="nofollow"></a>
								             <a target="_blank" href="#" class="forsina" title="关注sina" rel="nofollow"></a>
								             <a target="_blank" href="#" class="forweixin" title="关注腾讯微博" rel="nofollow"></a>
								          </div>
								      </div>
							        </div>
									<div class="goods-extra">
							            <div class="extra-services">
									        <div class="fl clearfix label">服务承诺：</div>
								        	<ul class="fl clearfix list">
						                        <li class="item">								                                                                                                                                														<span class="link">
									                    <img src="../img/detail/tui.png" width="24" height="24">
									                  	  退货补运费
									                </span>
								            	</li>
						                        <li class="item">
									                                                                                                                                														<span class="link">
									                    <img src="../img/detail/seven.png" width="24" height="24">
									                    7天无理由退货
									                </span>
									            </li>
						                        <li class="item">										                                                                                                                                														<span class="link">
									                    <img src="../img/detail/pei.png" width="24" height="24">
									                   		 先行赔付
									                </span>
								           		 </li>
								            	<li class="item">					                                                                                                                                														<span class="link">
								                   		 <img src="../img/detail/72.png" width="24" height="24">
								                  	  		72小时发货
								                	</span>
								            	</li>
					                   		 </ul>
									    </div>
								        <div class="extra-pay">
								        	<div class="fl clearfix label">支付方式：</div>
							                <div class="fl list list-nomaibei"></div>
								    	</div>
									</div>
								</div>
							</div>
							<div class="goods-topimg fl">
								<div class="big-img">
									<img src="" alt="" />
								</div>
								<div id="J_SmallImgs" class="small-img">
						            <div class="box">
						                <div class="list">
						                    <ul class="clearfix">
						                  	</ul>
						                </div>
						            </div>
						            <a class="left-btn arrow-btn" id="left-btn" href="javascript:;"></a>
						            <a class="right-btn arrow-btn" id="right-btn" href="javascript:;"></a>
						      	</div>
							</div>
						</div>
						<div class="primary-slide">
							<div class="goods-recommend" id="J_ModuleLook" data-ptp="_rechot">
								<!-- 热卖推荐 -->
								<p class="title">
									<s></s>
									<span>热卖推荐</span>
								</p>
								<div class="list">
									<div class="box">
										<ul>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="detail-content">
						<div class="col-main fl">
							<div class="content-main">
								<div class="tabbar-box">
					                <ul class="tabbar-list clearfix">
					                    <li data-panels="graphic,recommend" data-hasnav="true" class="tab-graphic selected">
					                        <a href="javascript:;">商品详情</a>
					                    </li>
					                    <li data-panels="rates" data-hasnav="false">
					                        <a href="javascript:;">累计评价<em></em></a>
					                    </li>
					                    <li data-panels="recommend" data-hasnav="false">
					                        <a href="javascript:;">本店同类商品</a>
					                    </li>
					                    <li class="qrcode">
					                        <div class="qrcode-togger">手机扫码下单</div>
					                        <div class="qrcode-pic"><img src="../img/detail/ewm.png"></div>
					                        <i class="qrcode-mini"></i>
					                        <i class="qrcode-arrow"></i>
					                    </li>
					                </ul>
					            </div>
					            <div class="tabbar-bg">
					                <div class="bg-right"></div>
					                <div class="bg-left"></div>
					            </div>
					            <div class="tabbar-occupying"></div>
					            <div class="panel-box">
						            	<div class="module-panel module-graphic">
						            		<div id="J_Graphic_desc">
							            		<div class="panel-title">
							            			<h1>商品描述</h1>
							            		</div>
							            		<!-- 描述 --> 
							            		<div class="graphic-text"></div>
							            	</div>
							            	<div id="J_Graphic_产品参数" class="cpcs">
							            		<div class="panel-title">
							            			<h1>产品参数</h1>
							            		</div> 
							            		<!-- 产品参数 -->
							            		<div class="graphic-block">
								            		<!-- 表格 -->
								            		<table class="parameter-table" id="J_ParameterTable">
								            			<tbody> 
								            				<tr class=""> 
								            					<td>袖型: 常规袖</td> 
								            					<td>风格: 轻熟,通勤（OL）</td> 
								            					<td>厚薄: 普通</td> 
								            				</tr>   
								            				<tr class="">  
								            					<td>材质: 其他</td> 
								            					<td>版型: 宽松</td> 
								            					<td>颜色: 黑色</td> 
								            				</tr>   
								            				<tr class="">  
								            					<td>下摆: 敞口</td>  
								            					<td>衣长: 常规款（51-65cm）</td>  
								            					<td>衣门襟: 套头</td> 
								            				</tr>
								            				<tr class=""> 
								            					<td>领型: 圆领</td> 
								            					<td>图案: 纯色</td>  
								            					<td>季节: 春秋</td>
								            				</tr>   
								            				<tr class="">
								            					<td>袖长: 长袖</td>
								            				</tr>
								            			</tbody>
								            		</table>  
								            	</div>
							            	</div> 
						            		<div id="J_Graphic_试穿效果" class="scxg">
						            			<div class="panel-title">
						            				<h1>穿着效果</h1>
						            			</div>
						            			<div class="graphic-pic"> 
						            				<div class="pic-box"> 
						            					<img class="lazy"  src=""> 
						            				</div> 
						            			</div>
						            		</div>
						            	</div>
					            	</div>
				            </div>
						</div>
						<div class="col-sidebar">
							<div class="module-shop">
								<div class="ui-box shop-slidrer-info">
									<h3 class="ui-hd shop-hd">
										<div class="shop-name-sp">
											<a href="#" class="text text-hasim">
												时尚起义官网直邮
											</a>
											<div class="mlstalk_widget_btn"></div>
										</div>
									</h3>
									<div class="ui-bd">
										<div class="shop-evaluate">
					                        <ul>
	                                            <li>
						                            <p class="text">描述</p>
						                            <p class="num-def  num-low">4.21</p>
						                        </li>
                                                <li>
						                            <p class="text">价格</p>
						                            <p class="num-def">4.87</p>
					                            </li>
						                        <li>
						                            <p class="text">质量</p>
						                            <p class="num-def  num-low">4.41</p>
						                        </li>
						                        <li>
						                            <p class="text">服务</p>
						                            <p class="num-def  num-low">4.33</p>
						                        </li>
                                            </ul>
					                    </div>
									</div>
									<div class="shop-btns">
                       					<a rel="nofollow" class="J-shop-follow shop-follow  btn-fav" href="javascript:;" data-shopid="113qxyxo">收藏</a>
                       					<a class="btn-goto" href="http://s.meilishuo.com/113qxyxo">进入店铺</a>
                   					 </div>
									<div class="shop-provide">
				                        <a class="pic" href="javascript:;">
				                            <img class="img-lazyload" width="150" height="26" src="../img/detail/support.png">
				                        </a>
				                    </div>
								</div>
							</div>
							<div class="module-classify" id="J_ModuleClassify">
            					<!-- 分类信息 -->
					            <div class="ui-box classify-info">
					                <h3 class="ui-hd">本店分类</h3>
					                <div class="ui-bd">
					                    <!-- 列表 -->
					                    <ul class="classify-list">
					                        <li>
					                            <a href="#">全部商品</a>
					                        </li>
                                            <li>
					                            <a href="#">上衣</a>
					                        </li>
                                            <li>
					                            <a href="#">裙装</a>
					                        </li>
                                            <li>
					                            <a href="#">裤子</a>
					                        </li>
                                        	<li>
					                            <a href="#">套装</a>
					                        </li>
                                            <li>
					                            <a href="#">泳装</a>
					                        </li>
                                        	<li>
					                            <a href="#">美妆</a>
					                        </li>
                                        </ul>
					                </div>
					            </div>        
					       </div>
						    <div class="module-repeat">
								<div class="ui-box repeat-info">
									<h3 class="ui-hd">看了又看</h3>
									<div class="ui-bd">
										<ul class="repeat-list">
										</ul>
									</div>
								</div>
						    </div>
						</div>
						<div class="col-extra">
					        <i class="bor-line bor-r"></i>
					        <i class="bor-line bor-b"></i>
					        <i class="bor-line bor-l"></i>
					
					        <!-- 购物车模块 -->
					        <div class="module-cart" id="J_ModuleCart">
					            <div class="ui-box cart-info">
					                <div class="ui-hd cart-hd">
					                    <a class="cart-name" href="javascript:;">
					                        <span><i></i>加入购物车</span>
					                    </a>
					                </div>
					                <div class="cart-occupying ui-hide"></div>
					            </div>
					        </div>
					        <!-- 右侧子导航模块 -->
					        <div class="module-extranav" id="J_ModuleExtranav">
					            <!-- 主体 -->
					            <div class="extranav-bd">
						            <!-- 子导航列表 -->
						            <ul class="extranav-list">
						            	<!-- 商品描述 -->  
						            	<li data-module="J_Graphic_desc" class="selected" id="spms">  
						            		<a href="javascript:;">商品描述</a> 
						            	</li> 
						            	<li data-module="J_Graphic_穿着效果" class="" id="scxg"> 
						            		<a href="javascript:;">穿着效果</a> 
						            	</li> 
						            	<!--<li data-module="J_RecommendList"> 
						            		<a href="javascript:;">商品推荐</a>
						            	</li> -->
						            </ul>
					            </div>
					        </div>
					    </div>
					</div> 	
				</div>
			</div>
			<div class="footer">
				<div class="container-in-sp">
					<div class="footer_info">
			            <a rel="nofollow" class="info_logo" href="http://www.mogujie.com"></a>
			            <div class="info_text">
			                <p>营业执照注册号：<a rel="nofollow" href="http://s16.mogucdn.com/p1/160525/upload_ifrdimtcgeztgzdchazdambqmeyde_2480x3508.jpg" target="_blank">330106000129004</a></p>
			                <p>增值电信业务经营许可证：<a rel="nofollow" target="_blank" href="http://s18.mogucdn.com/p1/160623/upload_ifqwiyrtmjrtimzvhezdambqgyyde_600x852.jpg">浙B2-20110349</a></p>
			
			                <p style="height: auto">网络文化经营许可证：<a rel="nofollow" target="_blank" href="http://s18.mogucdn.com/p2/160831/upload_59405ekk9ieijjcidl1fijcg04c69_960x1385.jpg">浙网文（2016）0349-219号</a></p>
			
			                <p><a rel="nofollow" target="_blank" href="http://s16.mogucdn.com/p2/160831/upload_506h1d771b5k20j9148ldjj0kdaab_960x1344.jpg">安全责任书</a></p>
			
			                <p>
			                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002329" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
			                        <img src="../img/list/ga.png" style="float:left;">
			                        <span style="color: #999;">&nbsp;浙公网安备 33010602002329号</span>
			                    </a>
			                </p>
			                <p class="mgjhostname">©2016 Mogujie.com 杭州卷瓜网络有限公司</p>
			            </div>
			        </div>
					<div class="footer_link">
			            <dl class="link_company">
			                <dt>公司</dt>
			                <dd><a rel="nofollow" href="http://www.mogujie.com/us" target="_blank">关于我们</a></dd>
			                <dd><a rel="nofollow" href="http://job.mogujie.com/social" target="_blank">招聘信息</a></dd>
			                <dd><a rel="nofollow" href="http://www.mogujie.com/about" target="_blank">联系我们</a></dd>
			            </dl>
			            <dl class="link_consumer">
			                <dt>消费者</dt>
			                <dd><a rel="nofollow" href="http://www.mogujie.com/help" target="_blank">消费者服务</a></dd>
			                <dd><a rel="nofollow" href="http://www.mogujie.com/help/contactus?con=%27callservice%27" target="_blank">意见反馈</a></dd>
			                <dd><a rel="nofollow" href="http://www.mogujie.com/apps/mobile" target="_blank">手机版下载</a></dd>
			            </dl>
			            <dl class="link_business">
			                <dt>商家</dt>
			                <dd><a rel="nofollow" href="http://www.xiaodian.com/pc/joinmarket" target="_blank">商家入驻</a></dd>
			                <dd><a rel="nofollow" href="http://www.xiaodian.com/pc/shopadmin/shopface" target="_blank">商家后台</a></dd>
			                <dd><a rel="nofollow" href="http://peixun.xiaodian.com" target="_blank">蘑菇商学院</a></dd>
			                <dd><a rel="nofollow" href="http://bbs.xiaodian.com" target="_blank">商家社区</a></dd>
			            </dl>
			            <dl class="link_safe">
			                <dt>权威认证</dt>
			                <dd>
			                    <a rel="nofollow" class="pa" onclick="window.open('http://bank.pingan.com/index.shtml','_blank')" target="_blank" href="javascript:;"></a>
			                    <a rel="nofollow" href="javascript:;" onclick="window.open('https://ss.knet.cn/verifyseal.dll?sn=e14090533010053532r3hn000000&amp;ct=df&amp;a=1&amp;pa=500267&amp;tp=1.0.20.0.28.KXYH9AB','_blank')" class="kx" target="_blank"></a>
			                </dd>
			            </dl>
			        </div>
				</div>
			</div>
		</div>
	</body>
</html>
